.container-fluid{
  font-family: 'Pacifico', cursive;
  color: red;
  background-color: black;
  text-align: center;
}
.card-body{
  background-color: #3e444c;
}
.card-title{
  color: white;
}
ul{
  color: white;
}
.card-title1{
  color: white;
}
